/vendor
/node_modules
/.idea/*
!.idea/icon.svg
/.phpunit.cache
/public/hot
/phpstan.neon
/phpunit.xml
composer.phar
composer.lock
.phpunit.result.cache
.DS_Store
*.local

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
