includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - config
        - database/factories
        - database/seeders
        - routes
        - src
        - tests

    level: 2

    ignoreErrors:
        - '#^Class App\\Models\\User not found\.$#'
