includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - database/factories
        - database/seeders
        - routes
        - src
        - tests

    level: 2

    ignoreErrors:
        -
            message: '#^Class App\\Models\\User not found\.$#'
            reportUnmatched: false
