name: update dependencies

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 1'

jobs:
  update:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Node
        uses: actions/setup-node@v5
        with:
          node-version-file: .nvmrc
          package-manager-cache: false

      - name: Update dependencies
        run: |
          corepack enable
          corepack use pnpm@latest-10
          npx npm-check-updates -u --target semver
          rm pnpm-lock.yaml
          pnpm install

      - name: Commit updated files
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: Update dependencies
          file_pattern: 'package.json pnpm-lock.yaml'
